@model IEnumerable<Opportunity>
@{
    ViewBag.Title = "Opportunity Records";
    Layout = "_AdminLayout";
}

<!--Bailey is going to edit this dropdrown list!-->


<div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle"
            type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Filter by Approval Status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">All</a>
        <a class="dropdown-item" href="#!">Approved/Pending</a>
        <a class="dropdown-item" href="#!">Approved</a>
        <a class="dropdown-item" href="#!">Pending Approval</a>
        <a class="dropdown-item" href="#!">Disapproved</a>
        <a class="dropdown-item" href="#!">Inactive</a>
    </div>
</div>
<br />

<center>
    @*This creates the search bar on the Manage Volunteers page*@
    @using (Html.BeginForm())
    {
        <div>
            Find by job keyword: @Html.TextBox("searchOpp") @*Creates the search text box*@
            <input type="submit" class="btn btn-info btn-sm" value="Search" /> @*creates the search button*@

        </div>
    }@*end search bar code*@

</center>
<br />

<!--Table-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Job Title</th>
            <th class="text-center">Description</th>
            <th class="text-center">Volunteer Center</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">@item.JobTitle</td>
            <td class="text-center">@item.Description</td>
            <td class="text-center">@item.VolunteerCenter</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-outline-secondary"
                       asp-route-OpportunityId="@item.OpportunityID">
                        Edit
                    </a>
                    <input type="hidden" name="OpportunityID" value="@item.OpportunityID" />
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-outline-info">Add Opportunity</a>
    <a asp-controller="AdminOp" asp-action="Index" button type="button" class="btn btn-outline-info">Reset</a>
</div>

