@model IEnumerable<Volunteer>
@{
    ViewBag.Title = "All Volunteers";
    Layout = "_AdminLayout";
}

<!--Second test of dropdown menu-->


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Filter by Approval Status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <a class="dropdown-item" href="#!">All</a>
        <a class="dropdown-item" href="#!">Approved/Pending</a>
        <a class="dropdown-item" href="#!">Approved</a>
        <a class="dropdown-item" href="#!">Pending Approval</a>
        <a class="dropdown-item" href="#!">Disapproved</a>
        <a class="dropdown-item" href="#!">Inactive</a>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

@*This creates the search bar on the Manage Volunteers page*@
@using (Html.BeginForm())
{
    <p style=" text-align:center;">
        @*aligns the search bar to the ccenter of the page*@
        Find by name: @Html.TextBox("SearchString") @*Creates the search text box*@
        <input type="submit" value="Search" /> @*creates the search button*@
    </p>
}@*end search bar code*@

<!--Table-->
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">E-mail</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.FirstName, @item.LastName</td>
            <td>@item.PhoneNumber</td>
            <td class="text-right">@item.Email</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-VolunteerId="@item.VolunteerID">
                        Edit
                    </a>
                    <input type="hidden" name="VolunteerID" value="@item.VolunteerID" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Volunteer</a>
</div>
