<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
    <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-inverse bg-info">
        <a class="navbar-brand text-white" href="#">Volunteer Management System</a>


        <div class="navbar-nav">


            @if (User.Identity.IsAuthenticated)
            {
                <form id="logout" action="@Url.Action("Logout", "Account")" method="POST">
                    <a class="nav-item nav-link text-white" href="javascript: $('#logout').submit()">
                        Logout
                        <br /><span>@User.Identity.Name</span>
                    </a>
                </form>
            }
            else
            {
                <a class="nav-item nav-link text-white" href="@Url.Action("Login", "Account")" title="log in">
                    Login
                </a>
            }
        </div>


    </nav>


    <div class="container">
        <div class="card">
            <div class="card-header"><h4>@ViewBag.Title</h4></div>
 <!--           <a class="btn btn-sm btn-primary float-right" asp-action="Logout" asp-controller="Account">Log Out</a> -->
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
